<%= form_for(@lab_rack) do |f| %>
  <% if @lab_rack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_rack.errors.count, "error") %> prohibited this lab_rack from being saved:</h2>

      <ul>
      <% @lab_rack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
