<%= form_for([@lab_rack, @unit]) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this lab_rack from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :u_location %><br />
    <%= f.text_field :u_location %>
  </div>
  <p>In <%= @lab_rack.name %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
